#ignorar la carpeta de ensayo
Javascript/algoritmos-practica
Javascript/Pizzeria-Dojo/pizzadojo.js
Pre-Bootcamp\Javascript\Pizzeria-Dojo\ejemplo.js




#ignorar los archivos zip
Renatta_Benitez_trazando-bloques.zip
Renatta_Benitez.button.zip
Renatta_Benitez_CSS_Estilo.zip
Renatta_Benitez-Bloques de GitHub.zip
Renatta_Benitez-Barra de navegación con Flex (Practice).zip
Renatta-Benitez-Columnas Flex-ibles.zip
Renatta_Benitez_Biblioteca Css.zip