#ignorar lacarpeta de ensayo
practica.css
w251
#ignorar los archivos zip
Renatta_Benitez_trazando-bloques.zip
Renatta_Benitez.button.zip
Renatta_Benitez_CSS_Estilo.zip
Renatta_Benitez-Bloques de GitHub.zip