/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}

   #wrapper{
    width: 960px;    
    background-color: #E4B7A0;
    margin: 3% auto;
    padding: 16px;
    border: 3px solid #C38370;
    border-radius: 16px;
   }
   #header{
    min-height: 150px;
    /* background-color: green; */
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .title-header {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    /* color: #808080; */
   }

   #navigation{
    min-height: 300px;
    width: 200px;
    /* background-color: blue; */
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    /* background-color: red; */
    display: inline-block;
    padding: 14px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: #F6EEE0;
    display: inline-block;
    margin-right: 9px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    vertical-align: top;
    border-radius: 9px;
   }

   .subcontents:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   }

   .subcontents-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   img {
    width: 80%;
   }
   #advertisement{
    min-height: 80px;
    width: 657px;
    /* background-color: purple; */
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   .rrss-logo {
    width: 20px;
   }